@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --moderate-blue: #5357b6;
  --soft-red: #e57373;
  --light-grayish-blue: #c5d1e2;
  --pale-red: #ffd7d7;
  --dark-blue: #1c232b;
  --grayish-blue: #575d6b;
  --light-gray: #eeeff4;
  --very-light-gray: #f6f7fa;
  --white: #ffffff;
  --bcg-color: #f2f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
img {
  width: 32px;
  height: 32px;
}

body {
  background-color: var(--bcg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  /* position: relative; */
}
.svg_plus {
  width: 11px;
  height: 11px;
}
.svg_minus {
  width: 11px;
  height: 3px;
}
.svg_reply {
  width: 14px;
  height: 13px;
}
.svg_edit {
  width: 14px;
  height: 14px;
}
.svg_delete {
  width: 12px;
  height: 14px;
}

/* card containers  */
.card_container {
  background-color: var(--white);
  border-radius: 8px;
  padding: 16px;

  margin-bottom: 16px;
}
.top {
  height: 32px;

  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.card_container .name {
  color: var(--dark-blue);
  font-weight: 500;
  margin-left: 16px;
}
.card_container .you {
  width: 36px;
  height: 19px;
  border-radius: 2px;
  background-color: var(--moderate-blue);
  color: var(--white);
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  margin-left: 8px;
}
.card_container .time {
  color: var(--grayish-blue);
  font-weight: 400;
  margin-left: 16px;
}
.card_container p {
  width: 311px;
  margin-bottom: 16px;
}
.card_container .mention {
  color: var(--moderate-blue);
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus_minus {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--very-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.plus_minus button {
  border: none;
  background: transparent;
}
.plus_minus .minus {
  margin-bottom: 5px;
}
.plus_minus span {
  color: var(--moderate-blue);
  font-weight: 500;
}
.reply {
  color: var(--moderate-blue);
  font-weight: 500;
  font-size: 16px;
  margin-left: 8px;
}
.reply_button {
  border: none;
  background: transparent;
}
.delete_svg {
  color: var(--soft-red);
  margin-right: 16px;
}
.edit_text {
  color: var(--moderate-blue);
}
.update_btn {
  display: none;
  background-color: var(--moderate-blue);
  color: var(--white);
  border-radius: 8px;
  border: none;
}
/* new comment container */
.new_comment_container {
  padding: 16px;
  height: 189px;
  width: 343px;
  background-color: var(--white);
  border-radius: 8px;

  position: relative;
  margin-bottom: 16px;
}
.new_comment_container textarea {
  width: 100%;
  height: 96px;
  border-radius: 8px;
  border: 1px solid #e9ebf0;
  position: relative;
}
.new_comment_container textarea::placeholder {
  position: absolute;
  top: 12px;
  left: 24px;
  font-size: 16px;
  color: var(--grayish-blue);
  font-weight: 400;
  line-height: 24px;
}
.new_comment_container img {
  width: 32px;
  height: 32px;
  margin-top: 24px;
}
.new_comment_container button {
  width: 104px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--moderate-blue);
  border: none;
  color: var(--white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-top: 16px;
  position: absolute;
  right: 16px;
}

/* modal container  */
.modal_container {
  display: none;
  padding: 24px 28px;
  height: 224px;
  width: 343px;
  background-color: var(--white);
  border-radius: 8px;
}
.modal_container h5 {
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 23.7px;
  margin-bottom: 16px;
}
.modal_container p {
  line-height: 24px;
  font-weight: 400;
  color: var(--grayish-blue);
  margin-bottom: 16px;
}

.modal_container button {
  width: 138px;
  height: 48px;
  border-radius: 8px;
  border: none;
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.cancel {
  background-color: var(--grayish-blue);
}
.delete {
  background-color: var(--soft-red);
}
/* modal container position after clicking delete */
.modal_active {
  display: block;
  position: absolute;
  top: 200px;
}

/* here apears div which covers whole page and it gets oppacity  */
.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}
button {
  padding: 10px;
}
.reply_div {
  width: 100%;
  height: 50px;
  background-color: red;
}

@media screen and (min-width: 800px) {
  body {
    background-color: lightgreen;
  }
  button:hover {
    cursor: pointer;
  }
  .card_container {
    width: 730px;
  }
  .card_container p {
    width: 618px;
  }
  .plus_minus {
    display: flex;
    flex-direction: column;
  }
}
